<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product Selection</title>
</head>
<body>
  <h1>Select Products</h1>
  <form action="/selectProducts" method="post">
    <input type="hidden" name="memberId" value="MEMBER_ID_PLACEHOLDER">
    <label>
      <input type="checkbox" name="products" value="Hat,10"> Hat ($10)
    </label>
    <label>
      <input type="checkbox" name="products" value="Shirt,20"> Shirt ($20)
    </label>
    <button type="submit">Submit Order</button>
  </form>
</body>
</html>
